<template>
  <div>
    <input type="text" placeholder="Beer name" v-model="search" v-on:input="fetchSearchTool(search)" />
    <div class="globalbeers-contain">
      <p>More beers availables</p>
      <div class="beer-contain" v-for="beer in beers" :key="beer.id">
        <div class="image-div-beer-contain">
          <img class="beer-img" v-bind:src='beer.image_url' />
        </div>
        <div class="nameanddescription-div-beer-contain">
          <p class="name-p-beer-contain">{{ beer.name }}</p>
          <p class="description-p-beer-contain">{{ beer.description }}</p>
        </div>
        <div>
          <p class="grade-p-beer-contain">4.5°</p>
        </div>
      </div>
    </div>
    <nav class="pagination" role="navegation" aria-label="pagination">
      <a v-if="page > 1" v-on:click="changePage(page - 1)">←</a>
      <ul>

        <li>
          <a class="actual-page">{{ page }}</a>
        </li>

      </ul>
      <a v-if="page < totalPages" @click.prevent="changePage(page + 1)">→</a>
    </nav>
  </div>
</template>

<script lang="ts">
import axios from "axios";

export default {
  data(): object {
    interface typeState {
      beers: [];
      page: number;
      totalPages: number;
      search: string;
    }
    const state: typeState = {
      beers: [],
      page: 1,
      totalPages: 1,
      search: ''
    }
    return state;
  },

  created(): void {
    this.fetchGetList();
  },


  methods: {
    fetchGetList(): void {
      axios.get(`https://api.punkapi.com/v2/beers?page=${this.page}`)
        .then((data) => {
          this.beers = data.data;
          this.totalPages = 13;
        })
    },
    fetchSearchTool(search: string): void {
      if (search.length > 0) {
        axios.get(`https://api.punkapi.com/v2/beers?beer_name=${search}`)
          .then((data) => {
            this.beers = data.data;
          })
      } else {
        this.fetchGetList();
      }
    },
    changePage(page: number): void {
      this.page = (page <= 0 || page > this.totalPages) ? this.page : page;
      this.fetchGetList();
    }
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.grade-p-beer-contain {
  background-color: white;
  padding: 10px;
  font-weight: 600;
  border-radius: 11px;
}

.description-p-beer-contain {
  height: 79px;
  overflow-y: scroll;
  color: white;
}

.globalbeers-contain {
  padding: 20px;
  background-color: white;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding-bottom: 1px;
}

.globalbeers-contain>p {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 19px;
}

.actual-page {
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  padding: 6px;
  border-radius: 15px;
}

.pagination {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
}

.name-p-beer-contain {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
  color: white;
}

.nameanddescription-div-beer-contain {
  margin-left: 15px;
  margin-right: 15px;
}

.beer-contain {
  display: flex;
  margin-bottom: 30px;
  background-color: #6b5f46;
  padding: 10px;
  border-radius: 20px;
}

.beer-img {
  width: 50px;
  object-fit: cover;
  height: 100px;
}

.globalDiv {
  padding: 20px;
}

body {
  background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/1b/78/81/ac/jabeerwocky-craft-beer.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  font-family: 'Urbanist', sans-serif !important;
}

input {
  border: none;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 18px;
  margin-top: 140px;
  margin-left: 20px;
  border-radius: 8px;
}

/* RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
</style>