<template>
    <div class="global-div-navbar">
        <div class="globaltop-div-navbar">
            <div>
                <p class="hour-p-navbar">13:13</p>
            </div>
            <div>

                <span class="material-icons icons-top-navbar">
                    signal_cellular_alt
                </span>
                <span class="material-icons icons-top-navbar">wifi</span>
                <span class="material-icons icons-top-navbar">
                    battery_4_bar
                </span>
            </div>
        </div>

        <div class="globalmiddle-div-navbar">
            <div>
                <span class="material-icons icons-middle-navbar">
                    arrow_back_ios
                </span>
            </div>
            <div class="beer-middle-navbar">
                <p>Beers</p>
            </div>
            <div>
                <span class="material-icons icons-middle-navbar">
                    info
                </span>
                <span class="material-icons icons-middle-navbar">
                    ios_share
                </span>
            </div>
        </div>
    </div>
</template>

<style>
.beer-middle-navbar {
    display: flex;
    align-items: center;
}

.beer-middle-navbar>p {
    font-weight: 600;
    color: white;
    font-size: 20px;
}

.globaltop-div-navbar {
    display: flex;
    justify-content: space-between;
}

.global-div-navbar {
    padding: 20px;
}

.icons-top-navbar {
    color: white;
    font-size: 20px;
}

.globalmiddle-div-navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.icons-middle-navbar {
    color: #2ebaca;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    margin-right: 6px;
}

.hour-p-navbar {
    font-weight: 600;
    color: white;
    font-size: 18px;
}
</style>