<template>
  <Navbar />
  <GetBeers />
</template>

<script>
import Navbar from './components/Navbar.vue'
import GetBeers from "./components/GetBeers.vue";
export default {
  name: "App",
  components: {
    GetBeers: GetBeers,
    Navbar: Navbar
  },
};
</script>
